@font-face {
    font-family: Moranga-Black;
    src: url(../fonts/Moranga-Black.otf);
}
@font-face {
    font-family: Trust-Sans-Black;
    src: url(../fonts/Trust-Sans-Black.otf);
    
}
@font-face {
    font-family: Trust-Sans-Medium;
    src: url(../fonts/Trust-Sans-Medium.otf);
    
}

@font-face {
    font-family: Flix-Regular;
    src: url(../fonts/Goldplay-Regular.otf);
    
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
ul {
    list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
input{
	background: transparent;
	border: 0px;
}
button{
	color: none;
}
body.block
{
	overflow:hidden;
}

//Typography

$logo-font: 'Trust-Sans-Black';
$primary-font: 'Trust-Sans-Medium';
$primary-font-regular: 'Flix-Regular';

//Colors
$black: #000;
$oxford-blue: #455b5d;
$blueberry:#809BCE;
$metallic-silver: #95B8D1;
$green:#3CD3AD;
$light-green: #D6EADF;
$light-pink:#EAC4D5;

//Mixins

@mixin styleGrid1 {
    padding: 25px 0;
    margin: 0 25px;
}

