nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include styleGrid1;
    .logo{
        height: 100%;
        display: flex;
        align-items: center;
        font-family: $logo-font;
        font-size: 25px;
        span{
            &:last-child{
                color: $green;
            }
        }
    }
    ul {
        font-family: $primary-font;
        display:flex;
        list-style-type: none;
        li {
            &:not(:last-child) {
                margin-right: 30px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.section-login{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    background: white;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease-in;
    
}