@import 'common.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'map.scss';

body {
    font-family: $primary-font-regular;
    color: $oxford-blue;
}

.anim {
    opacity: 1;
    transform: translateY(0);
    height: 100%;
}

