#map-section {
    display: flex;
    justify-content: center;
    #map {
        height: calc(100vh - 150px);
        width: calc(100% - 50px);
        position: absolute;
        margin: 0 auto
    }
}