@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
//Forms style
@import "forms.scss";
//Map style
@import "map.scss";

body,
h1,h2,h3,h4,h5,h6,
a, button, input{
  font-family: 'Ubuntu', sans-serif;
}

body {
  background:linear-gradient(180deg, #139A43 65%, #fff 65%) no-repeat

}

a, a:hover {
  text-transform: capitalize;
  text-decoration: none;
  text-underline: none;
  color: #139A43;

}

//Na

#mainNav {
  background: #fff;
  height: 97px;
}

#mainNav button {
  background: #d6d9d4;
  width: 231.41px;
}

#mainContent {
  transition: margin-left .5s;
}

#contact-us {
  color: #139A43;
  padding: 0 15px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: bold;

}

.my_account {
  color: white !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

.main-title {
  padding: 97px 0;
  height: 500px;
}

.main-title h1 {
  padding: 90px 0 40px 0;
  color: #fff;
  text-align: center;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  height: 500px;
}
;


.pull-up {
  margin-top: -190px;
}

.my_account {
  background: #139A43;
  padding: 10px 15px;
  border-radius: 8px;
  border: #139A43 2px solid;
}

.my_account:hover{
  background: transparent;
  border: #139A43 2px solid;
  color: #139A43 !important;

}


#contact {
  height: 30px;
  background: #d6d9d4;
}
.footer-content {
  padding: 20px 0;
  text-transform: none;
  font-size: 14px;
}

.footer-text {
  font-size: 12px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  color: #efefef
}
