@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
//Forms style
@import "forms.scss";
body,
h1,h2,h3,h4,h5,h6,
a, button, input{
  font-family: 'Ubuntu', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background:white;

}

a, a:hover {
  text-transform: capitalize;
  text-decoration: none;
  text-underline: none;
  color: #139A43;

}

//Nav

#mainNav {
  background: #fff;
  height: 97px;
}

#mainNav button {
  background: #d6d9d4;
  width: 231.41px;
}

#mainContent {
  transition: margin-left .5s;
}

#contact-us {
  color: #139A43;
  padding: 0 15px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: bold;

}

.my_account {
  color: white !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

.main-title {
  padding-left: 30px;
  height: 100%;
}

.main-title h1 {
  font-size: 70px;
  color: #555555;
  text-align: left;
}

.learn-more {
  margin-top: 50px;
  background: #5fbd75;
  padding: 20px 30px 5px;

}

.learn-more p {
  font-size: 27px;
  color: white ;
}

.learn-more a{
  font-size: 45px;
  color: white ;
}

#map-section{
  background: #139A43;
}
#map {
  height: 600px;
};

.marker {
  background-image: url('assets/img/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.my_account {
  background: #139A43;
  padding: 10px 15px;
  border-radius: 8px;
  border: #139A43 2px solid;
}

.my_account:hover{
  background: transparent;
  border: #139A43 2px solid;
  color: white;

}


#contact {
  height: 30px;
  background: #d6d9d4;
}
.footer-content {
  padding: 20px 0;
  text-transform: none;
  font-size: 14px;
}

.footer-text {
  font-size: 12px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  color: #efefef
}

@media (min-width: 544px) {
  .main-title h1 {font-size: 45px;}
  .learn-more p {}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-title h1 {font-size: 55px;}
  .learn-more p {font-size: 22px;}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-title h1 {
    font-size: 70px;
  }
  .learn-more  {margin-top: -170px;}

}
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) {
  .main-title h1 {
    margin-top: 100px;
    font-size: 90px;
  }

  .main-title{
    height: 1400px;
  }
  //.learn-more {margin-top: -400px; padding-left: 50px;}
  //.learn-more p {font-size: 50px;}
  #map {
    //padding-top: 150px;
    //height: 1200px;
  };



}
